<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

 <suite name="PHP Travels Automation Test Suite">
	 <test name ="PHP Travels Automation Functional Test">
		<classes>
			<class name="com.phptravels.qa.testCases.HomePageTest"/>
			<class name="com.phptravels.qa.testCases.LoginPageTest"/> 
		</classes>
	</test>
	
	<test name="PHP Travels Automation - Regression Test">
		<!-- <groups>
			<run>
				<include name="regression" />
			</run>
		</groups> -->
		<classes>
			<class name="com.phptravels.qa.testCases.HomePageTest"> 
				<methods>
					<include name="verifyHomePageLinks"></include>
				</methods>
			</class>
		</classes>
	</test>
</suite>